{% extends "base.html" %}


{% block content %}
<main class="container">
    <div class="tabs">
        <a class="tab active" href="#dividend" onclick="showTab('dividend')">配当金</a>
        <a class="tab" href="#profit-loss" onclick="showTab('profit-loss')">実現損益</a>
    </div>
    <div id="dividend" class="tab-content active">
        <form id="dividend-form" enctype="multipart/form-data">
            <input type="file" id="dividend-csv" name="file" accept=".csv">
            <label class="csv select" for="dividend-csv">CSVファイルを選択</label>
        </form>
        <div id="dividend-result-container" class="result-container"></div>
    </div>
    <div id="profit-loss" class="tab-content">
        <form id="profit-loss-form" enctype="multipart/form-data">
            <input type="file" id="profit-loss-csv" name="file" accept=".csv">
            <label class="csv select" for="profit-loss-csv">CSVファイルを選択</label>
        </form>
        <div id="profit-loss-result-container" class="result-container"></div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script src="/js/receipts.js"></script>
    {% endblock %}